:root {
  --font: system-ui, sans-serif;
  --bg: #121212;
  --bg-light: #1e1e1e;
  --text: #f5f5f5;
  --text-muted: #bbbbbb;
  --accent: #3a86ff;
  --border: #2a2a2a;
  --success: #18e934;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  margin: 0;
  line-height: 1.5;
  background-color: var(--bg);
  color: var(--text);
}

header,
footer {
  padding: 1rem;
  background: var(--bg-light);
  border-bottom: 1px solid var(--border);
}

footer {
  border-top: 1px solid var(--border);
}

main {
  padding: 1rem;
}

nav button {
  margin-right: .5rem;
  background: var(--accent);
  color: #fff;
  border: none;
  padding: .5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

nav button:hover {
  background: #2f6de0;
}

#listaNotas {
  display: grid;
  gap: .75rem;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

.nota {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: .75rem;
  background-color: var(--bg-light);
  color: var(--text);
}

.nota header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completada {
  background-color: var(--success);
}

/* Inputs y formularios */
input,
select,
button[type="submit"] {
  font-family: var(--font);
  padding: .5rem;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: #1c1c1c;
  color: var(--text);
}

input:focus,
select:focus {
  outline: 2px solid var(--accent);
}

button[type="submit"] {
  background: var(--accent);
  color: #fff;
  cursor: pointer;
  border: none;
}

button[type="submit"]:hover {
  background: #2f6de0;
}

label span {
  display: block;
  color: var(--text-muted);
  margin-bottom: .25rem;
}

.container-header {
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding-right: 20px;
}

h1 {
    display: inline-block;
    margin: 0;
}

.container-header p {
    margin: 0;
}